
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  justify-content: start;
  margin-left: 15px;
}

.header-language {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 3px solid #f2efec;
  padding: 10px 20px;
}

.header-language__image{
  width: 22px;
  height: 22px;
  margin: 2px;
}

.header-menu {
  display: flex;
  flex-direction: row;
}


.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-list_link {
  padding-left: 30px;
  text-decoration: none;
  list-style-type: none;
}

.header-menu-list_link a {
  text-decoration: none;
  color: black;
}

.header-menu-list a:hover {
  color: #ba1000;
}

.header-menu-list_link:visited {
  color: black;
}

.header-menu__sticky{
  width: 100%;
  height: 4px;
  background: #f2efec;
  border: none;
  z-index: 5;
}


/*бургер меню*/
.btn-line{
  display: none;
}


@media (max-device-width: 767px) {
  .btn-line{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .btn-line span {
    display: block;
    position: absolute;
    top: 26px;
    left: 12px;
    right: 12px;
    height: 5px;
    background: #606060;
  }

  .btn-line span::before, .btn-line span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    background: #606060;
    content: "";
  }

  .btn-line span::before {
    top: -10px;
  }

  .btn-line span::after {
    bottom: -10px;
  }
  .header-language{
    display: none;
  }
  .header-logo {
    display: flex;
    justify-content: start;
    margin-left: 155px;
  }
  .header-menu-mini {
    display: none;
    transition: all ease 1s;
  }
  .header-menu-list-mini {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .is-active{
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #f0f0f0;
    transition: all ease 1s;
  }
  .clock{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}