
.color-btn {
  display: none;
}

.color-btn-show {
  display: flex;
  justify-content: center;
  align-items: center;
}


.color-btn_change{
  margin: 10px;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.new_color{
  color: red;
}


.background_red{
  background: pink;
}