.container {
  margin: 0 auto;

}

.main__text{
  flex-wrap: wrap;
  margin-left: 400px;
  max-width: 800px;

}
.main__header--caption{
  color: black;
}
.main__header {
  font-weight: bold;
  font-size: 32px;
  padding-top: 50px;
}

.image{
  background-image: url("../image/maintext/img/main.png");
  width: 725px;
  height: 570px;
}

.main__header--textborder{
  border: 1px solid darkgrey;
  width: 800px;
  padding: 20px;
}